name: Pull Request
on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Dagger -> build
        uses: dagger/dagger-for-github@v7
        with:
          version: "v0.18.9"
          verb: call
          # FIXME: this is a workaround for https://github.com/dagger/dagger-for-github/issues/117
          args: >-
            build --source=.
            --registry=ghcr.io
            --repository="hoverkraft-tech/hook2mail"
            --username=${{ github.actor }}
            --password=env:OCI_REGISTRY_PASSWORD
            --tag=${{ env.IMAGE_TAG }}
            --platforms='linux/arm64,linux/amd64'
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
        env:
          OCI_REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          IMAGE_TAG: "pr-${{ github.event.number }}-${{ github.sha }}"

  tests:
    name: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Dagger -> test-405
        uses: dagger/dagger-for-github@v7
        with:
          version: "v0.18.9"
          verb: call
          # FIXME: this is a workaround for https://github.com/dagger/dagger-for-github/issues/117
          args: >-
            test-405
            --source=.
            --platform='linux/amd64'
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
        env:
          OCI_REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      - name: Dagger -> test-200
        uses: dagger/dagger-for-github@v7
        with:
          version: "v0.18.9"
          verb: call
          # FIXME: this is a workaround for https://github.com/dagger/dagger-for-github/issues/117
          args: >-
            test-200
            --source=.
            --platform='linux/amd64'
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
        env:
          OCI_REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
